{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6" style="font-size: larger;">
				<div class="row" style="margin-bottom: 17px;">
					<h5 class="text-center">Авторы</h5>
				</div>
				{% for d in owners_data %}
					<div class="row" style="margin-bottom: 7px;">
						<div class="col-sm-4">
							{% with 'images/about/'|add:d.img_name as image_static %}
								<img src="{% static image_static %}" class="cropped">
							{% endwith %}
						</div>
						<div class="col-sm-8">
							<div class="row">
								<a href="{{ d.main_link }}">{{ d.name }}</a>
								<span>{{ d.text }}</span>
								{% for l in d.links %}
									<a href="{{ l.addr }}">{{ l.name }}</a>
								{% empty %}
									<p></p>
								{% endfor %}
								{% if d.email %}
									<p>e-mail: {{ d.email }}</p>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-sm-6">
				<div class="row" style="margin-bottom: 7px;">
					<h5 class="text-center">Свидетельства на программное обеспечение</h5>
					<img class="img-responsive" src="{% static 'cert1.png' %}" width="120">
					<img class="img-responsive" src="{% static 'cert2.png' %}" width="110">
					<img class="img-responsive" src="{% static 'cert3.png' %}" width="100">
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block spec_scripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".background-waiter").css("display","none");
			$("#waiter").css("display","none");

		});
	</script>
{% endblock %}