<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""><!-- TODO: create this -->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="keywords" content=""><!-- TODO: create this -->
    <!--<meta name="subject" content="Запчасти для отечественных автомобилей и иномарок">
    <meta name="Classification" content="Запчасти для отечественных автомобилей и иномарок">
    <meta name="author" content="">
    <meta property="og:url"                content="http://uskoritel59.ru" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Uskoritel59.ru | Автозапчасти" />-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(51602057, "init", {
        id:51602057,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51602057" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
	<title>Межрегиональные кластеры России</title>
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/price-range.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	
</head><!--/head-->

<body>
	<div class="background-imgs">
		<!-- <img src="{% static 'images/home/flag.png' %}" class="img-responsive"> -->
	</div>
    <div class="background-waiter" style="z-index: 130 !important;" style="display: block;" data-bind="visible: waiter.status()"></div>
    <div id="waiter" class="lds-spinner" data-bind="visible: waiter.status()" style="display: block;">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
	{% block header %}
        <h1 class="text-center">{{ current_page }}</h1>
        <h4 class="text-center">(рассчитано на основе данных за 2019 год)</h4>
        <div class="container" style="
        /*margin: 0 0;*/
        padding-bottom: 7px;
        width: 100%;
        background-color: #ffffff;">
        <div class="row">
            <ul class="nav nav-tabs" style="padding: 0 16%; font-weight: 200;">
                {% for e in pgs_info %}
                  <li class="nav-item">
                    <a class="nav-link" href="/{{ e.link }}">{{ e.name }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    {% endblock %}
	{% block content %}
	{% endblock %}

    <script type="text/javascript">
        if (window.location.pathname == "/") {
            window.location.pathname = "/clusters";
        }
    </script>
  
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/knockout.js' %}"></script>
    <script src="{% static 'js/conf.js' %}"></script>
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% block spec_scripts %}
    {% endblock %}
</body>
</html>
