<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""><!-- TODO: create this -->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="keywords" content=""><!-- TODO: create this -->
    <!--<meta name="subject" content="Запчасти для отечественных автомобилей и иномарок">
    <meta name="Classification" content="Запчасти для отечественных автомобилей и иномарок">
    <meta name="author" content="">
    <meta property="og:url"                content="http://uskoritel59.ru" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Uskoritel59.ru | Автозапчасти" />-->

	<title>Межрегиональные кластеры России</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/price-range.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <!-- 🗷🗹- -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	
</head><!--/head-->

<body>
	<div class="background-imgs">
		<img src="{% static 'images/home/flag.png' %}" class="img-responsive">
	</div>
	<div class="background-waiter" style="z-index: 130 !important;" data-bind="visible: waiter.status()"></div>
    <div id="waiter" class="lds-spinner" data-bind="visible: waiter.status()" style="display: none;">
    	<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    {% comment %}
	<header id="header"><!--header-->
		
		<div class="header-middle"><!--header-middle-->

		</div><!--/header-middle-->
	
		<div class="header-bottom" style="padding-bottom: 5px;"><!--header-bottom-->
			<div class="container" style="padding-bottom: 20px;">
				<div class="row">
					<div class="col-sm-5 col-md-4 col-lg-4 col-xs-12" style="padding: 0;">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="{% url 'site_index' %}"{% if current_page == 'main' %} class="active" {% endif %}>Главная</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2 col-md-4 col-lg-4 col-xs-12" style="padding: 0;"><img src="{% static 'images/home/' %}" class="img-responsive" style=""></div>
					<div class="col-sm-5 col-md-4 col-lg-4 col-xs-12" style="color: #000;padding: 2px;font-family: 'Roboto', sans-serif; 
					/*border: 1px solid #fdb45e;*/
    margin-top: -10px;float: right;">
						<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center" data-bind="foreach: settings().company_phones">
							<span style="white-space: nowrap;" data-bind="text: $data"></span><br>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-center" data-bind="foreach: settings().company_addresses">
							<span style="white-space: nowrap;" data-bind="text: $data"></span><br>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 20px;max-height: 20px;">
							<p><span><a style="color: #FF9200; font-size: 16pt;" href="mailto: abc@d.e" style="white-space: nowrap;">abc@d.e</a></span></p><br>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 20px;max-height: 20px;">
							<p><span><a style="color: #FF9200; font-size: 16pt;" href="https://vk.com" style="white-space: nowrap;">vk</a></span></p><br>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
						
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->{% endcomment %}
	
	<!-- <section id="temp">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" id="slider1">
					{% for p in photos %}
					<div>
						<div style="background-image: url('/static/{{ p }}');
                                    position:relative;
                                    width: 100%;
                                    height: 0;
                                    padding-bottom: 100%;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;">
						</div>
						<p>Test {{ p }}</p>
					</div>
					{% endfor %}
				</div>
				<div class="col-lg-6" id="slider1-nav">
					{% for p in photos %}
					<div>
						<div style="background-image: url('/static/{{ p }}');
                                    position:relative;
                                    width: 100%;
                                    height: 0;
                                    padding-bottom: 100%;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;">
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section> -->

	{% comment %}<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12" {% if current_page == 'feedback_view' %} style="padding: 0;box-shadow: 0px 0px 200px 1px;" {% endif %}>
					{% if current_page != 'feedback_view' %}
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for b in banners %}
							{% if forloop.first %}
								<li data-target="#slider-carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
							{% else %}
								<li data-target="#slider-carousel" data-slide-to="{{ forloop.counter0 }}"></li>
							{% endif %}
							{% endfor %}
						</ol>
						
						<div class="carousel-inner">
							{% for b in banners %}
							{% if forloop.first %}
								<div class="item active">
							{% else %}
								<div class="item">
							{% endif %}
								<div class="col-sm-6">
									<h1>{{ b.header }}</h1>
									<h2>{{ b.name }}</h2>
									<p>{{ b.description }}</p>
									<a type="button" class="btn btn-default get" href="?query={{ b.button_href }}">{{ b.button_text }}</a>
								</div>
								<div class="col-sm-6">
									<img src="{{ b.thumb.url }}" class="girl img-responsive" alt="" />
									<!-- <img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" /> -->
								</div>
							</div>
							{% endfor %}
						</div>
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
					{% else %}
					{# TODO: make photos of shops and links updating map placemarks !!! #}
					<div class="col-sm-6 photo-of-shop" style="padding: 0;" onclick="switchPlacemarks(coord1)">
						<div class="link-show-on-map-container" style="position: absolute;
    							z-index: 1;
    							width: 100%;
    							height: 100%;
    							background: #fff;
    							text-align: center;
    							vertical-align: middle;
    							font-size: 30px;
    							font-family: 'Roboto', sans-serif;"></div>
    					<a class="link-show-on-map" style="position: absolute;
    					z-index: 2; width: 100%; height: 20%; top: 45%;
    					text-shadow: 1px 1px 1px #3e3e3e;
    					font-size: 17px; text-align: center; cursor: pointer;">Показать на карте</a>
						<div style="background-image: url({% static 'images/home/pushkarskaya.png' %});
                                    position:relative;
                                    width: 100%;
                                    height: 0;
                                    padding-bottom: 50%;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;"></div>
					</div>
					<div class="col-sm-6 photo-of-shop" style="padding: 0;" onclick="switchPlacemarks(coord2)">
						<div class="link-show-on-map-container" style="position: absolute;
    							z-index: 1;
    							width: 100%;
    							height: 100%;
    							background: #fff;
    							text-align: center;
    							vertical-align: middle;
    							font-size: 30px;
    							font-family: 'Roboto', sans-serif;"></div>
    					<a class="link-show-on-map" style="position: absolute;
    					z-index: 2; width: 100%; height: 20%; top: 45%;
    					text-shadow: 1px 1px 1px #3e3e3e;
    					font-size: 17px; text-align: center; cursor: pointer;">Показать на карте</a>
						<div style="background-image: url({% static 'images/home/solikamskaya.png' %});
                                    position:relative;
                                    width: 100%;
                                    height: 0;
                                    padding-bottom: 50%;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;"></div>
					</div>

					{% endif %}
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	{% endcomment %}
	
	{% block content %}
	{% endblock %}
	
	
	<footer id="footer" style="position: absolute; bottom: 0;"><!--Footer-->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left"><span>&copy; {{ year }} <a href="#"> Туда сюда</a>.</span></p>
					<p class="pull-right">Created by <span><a target="_blank" href="https://plus.google.com/+AlexanderLarionov">Alex Larionov</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/price-range.js' %}"></script>
	<script src="{% static 'js/knockout.js' %}"></script>
	<script src="{% static 'js/conf.js' %}"></script>
    <script src="{% static 'js/UVM.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  	<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
