{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding: 30px;">
	<div class="row">  
		<form action="">
			<div class="col-sm-4">
				<select class="form-control" data-bind="options: availableSpecs,
	                       optionsText: 'name',
	                       value: selectedSpec,
	                       optionsCaption: 'Выберите специализацию'">
				</select>
			</div>
			<div class="col-sm-6" style="padding: 1px;">
				<select class="form-control" size="1" id="select-profile" multiple="true" style="height: auto;position: absolute; z-index: 10; max-height: 100px;" data-bind="selectedOptions: selectedProfiles, options: availableProfiles, optionsText: 'name'">
					{% comment %}<!-- ko if: $index() == 0 -->
						<option disabled>Выберите отрасли</option>
					<!-- /ko -->
						<option data-bind="value: $root.availableProfiles[$index()],
						text: $data.name"></option>
					{% endcomment %}
				</select>
			</div>
			<div class="col-sm-2">
				<span style="float: left; width: 60px; padding: 4px;">
					<label for="all" style="float: right;" data-bind="click: selectAllProfiles"><i class="fa fa-check-double fa-2x"></i></label>
					<label for="all" style="float: left; position: absolute; left: 13px;" data-bind="click: collapseProfiles"><i data-bind="visible: selectedSpec() && !collapsedProfiles()" class="fa fa-times fa-2x"></i></label>
					<label for="all" style="float: left; position: absolute; left: 10px;" data-bind="click: collapseProfiles"><i data-bind="visible: selectedSpec() && collapsedProfiles()" class="fa fa-arrow-down fa-2x"></i></label>

					<!-- <input class="" id="all" type="checkbox" style="float: right; width: 20px;"> -->
				</span>
				<span style="float: right; width: 100px;">
					<input type="button" data-bind="enable: selectedProfiles.isValid, click: updateCompaniesData" class="form-control btn btn-success" value="Найти" name="submit">
				</span>
			</div>
		</form>
	</div>
</div>

<div id="gmap" style="bottom: 0; position: absolute; left: 0; right: 0; top: 94px;">
	
</div>

{% endblock %}