{% extends 'base.html' %}
{% load static %}

{% block header %}
	<a href="clusters">Межрегиональные кластеры</a>
	<a href="benchmark">Бенчмаркинг</a>
	<a href="macroregions">Пространственное развитие субъектов РФ</a>
{% endblock %}

<!-- <h3 style="text-align: center;text-transform: uppercase;">Бенчмаркинг, <a href="clusters" style="color: #ff0000;">Межрегиональные кластеры</a></h3>

<h3 style="text-align: center;text-transform: uppercase;">Межрегиональные кластеры России, <a href="benchmark" style="color: #ff0000;">Бенчмаркинг</a></h3>

<h3 style="text-align: center;text-transform: uppercase;">Бенчмаркинг, <a href="clusters" style="color: #ff0000;">Межрегиональные кластеры</a></h3> -->