{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="position: fixed; background: #fff; z-index: 99; right: 10px; bottom: 10px; padding: 5px 15px; border-radius: 5px; box-shadow: 0px 0px 40px;">
	<p style="text-align: left; padding-left: 3px;">Макрорегион: </p>
	<div style="z-index: 100; height: 20px; width: 100px; background-color: rgba(255, 0, 0, 1);">
		<p style="text-align: left; padding-left: 3px;">Выбранный</p>
	</div>
	<div style="z-index: 100; height: 20px; width: 100px; background-color: rgba(0, 255, 0, 1);">
		<p style="text-align: left; padding-left: 3px;">Участник</p>
	</div>
	<div style="z-index: 100; height: 20px; width: 100px; background-color: rgba(255, 255, 255, 1);">
		<p style="text-align: left; padding-left: 3px;">Другой</p>
	</div>
</div>
<!-- position: relative; background: #fff; z-index: 99; left: 20px; bottom: 50px; padding: 5px 15px; border-radius: 5px; box-shadow: 0px 0px 40px;  -->
<!-- <form action="" style="height: 50px; padding: 5px 0;">
	<div class="container" style="
	    width: 100%;
	    background-color: #ffffff;">
		<div class="row">
			<div>
				<span style="font-size: 12pt;">Масштаб: </span>
				<span style="padding: 10px;"><input type="range" min="100" max="2000" id="img-size" oninput="" value="1000" data-bind="value: imageSizeVal, valueUpdate: 'input'"></span>
				<span data-bind="text: imageSizeVal"></span>
			</div>
			<div style="width:100%;">
				<select class="form-control" id="select-spec" data-bind="options: availableRegions,
							optionsText: 'name',
	                    	value: selectedRegion,
	                    	optionsCaption: 'Выберите регион'">
				</select>
			</div>
		</div>
	</div>
</form> -->
<div id="image" style="float: left; width: 50%;">
	<!-- <i class="fa fa-times" title="Свернуть" data-bind="click: collapseRegionLegend" style="float: right;"></i> -->
	<form action="" style="height: 50px; padding: 5px 0;">
		<div class="container" style="
		    width: 100%;
		    background-color: #ffffff;">
			<div class="row">
				<!-- <div>
					<span style="font-size: 12pt;">Масштаб: </span>
					<span style="padding: 10px;"><input type="range" min="100" max="2000" id="img-size" oninput="" value="1000" data-bind="value: imageSizeVal, valueUpdate: 'input'"></span>
					<span data-bind="text: imageSizeVal"></span>
				</div> -->
				<div style="width:100%;">
					<select class="form-control" id="select-spec" data-bind="options: availableRegions,
								optionsText: 'name',
		                    	value: selectedRegion,
		                    	optionsCaption: 'Выберите регион'">
					</select>
				</div>
			</div>
		</div>
	</form>
	<!-- ko ifnot: showRegionLegend -->
	<p style="text-align: center; margin-top: 20%;"><b>Регион не выбран</b></p>
	<!-- /ko -->
	<!-- ko if: showRegionLegend -->
	<div class="crop-img-graph" data-bind="visible: selectedRegion">
		<img data-bind="attr: {'src': selectedRegionImgSrc}">
	</div>
	<!-- /ko -->
</div>

<div id="gmap" style="float: right;width: 50%; height: 650px;">
	
</div>
{% endblock %}

{% block spec_scripts %}
	<script src="{% static 'js/macroregions.js' %}"></script>
{% endblock %}
